@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components{
    .text-gradient{
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
}



.dark {
  background-color: #000000;
  color: #fff;
}