.root {
  background-image: linear-gradient(125deg,
      hsl(213deg 21% 17%) 0%,
      hsl(212deg 34% 10%) 28%,
      hsl(0deg 0% 0%) 100%);
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
}

.cvdown {
  background-color: white;
  height: 40px;
  color: black;
  position: absolute;
  right: 0;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
  cursor: pointer;
  bottom: 0;
  transition: 0.3s ease-in-out;
  border: #00c35e 2px solid;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
}

.cvdown:hover {
  background-color: #00c35e;
  color: white;
}






.shape1 {
  z-index: 1;
  margin-left: 400px;
  margin-top: 250px;
  position: absolute;

  filter: blur(68px);
  -webkit-filter: blur(68px);
  opacity: 0.4;
  background-image: linear-gradient(0deg,
      hsl(274deg 100% 51%) 1%,
      hsl(324deg 98% 60%) 42%,
      hsl(0deg 100% 80%) 100%);
  width: 22%;
  height: 32%;
  transform: rotate(0);

  animation-name: shap1An;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes shap1An {
  0% {
    transform: rotate(-90deg);
  }

  50% {
    transform: rotate(40deg);
  }

  100% {
    transform: rotate(180deg);
  }
}


.shape2 {
  margin-left: 300px;
  margin-top: 100px;
  position: absolute;
  z-index: 1;

  filter: blur(68px);
  -webkit-filter: blur(68px);
  opacity: 0.1;
  background-image: linear-gradient(0deg,
      hsl(274deg 100% 51%) 1%,
      hsl(324deg 98% 60%) 42%,
      hsl(0deg 100% 80%) 100%);
  width: 32%;
  height: 32%;

  animation-name: shap2An;
  animation-duration: 7s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}


@keyframes shap2An {
  0% {
    opacity: 0.1;
  }

  50% {
    opacity: 0.7;
  }

  100% {
    opacity: 0.1;
  }
}







.shape3 {
  margin-left: 600px;
  margin-top: 150px;
  position: absolute;
  z-index: 1;
  filter: blur(68px);
  -webkit-filter: blur(68px);
  opacity: 0.5;
  background-image: linear-gradient(0deg,
      hsl(47deg 100% 65%) 1%,
      hsl(47deg 100% 65%) 42%,
      hsl(47deg 100% 65%) 100%);
  width: 32%;
  height: 32%;

  animation-name: shap3An;
  animation-duration: 7s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}


@keyframes shap3An {
  0% {
    opacity: 0.1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 0.1;
  }
}


.container {
  width: 75%;
  height: 42%;
  background-color: #00141F;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 10;
  border: 10px solid;
  border-image: linear-gradient(45deg, #7B0034, #42000040, #42000000) 1;
  opacity: 0.8;
  /* border-radius: 33px;
  -webkit-border-radius: 33px; */

  display: flex;
  justify-content: space-around;
  color: aliceblue;
  padding: 10px;


}



.container h1 {
  opacity: 1;
}

.smenu{
  display: none;
}


.leftsidebar {
  background-color: #00141F;
  width: 60px;
  height: 100vh;
  display: block;
  float: left;
}



.sidebaricon {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
  height: 300px;
}


.sidebaricon li {
  background-color: #172C4D;
  padding: 12px;
  border-radius: 50px;
  color: #22c55e;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.sidebaricon li:hover {
  background-color: #22c55e;
  padding: 12px;
  border-radius: 10px;
  color: white;
}






















.sideLt {
  padding: 10px;
  flex: 1;
  text-align: left;
  color: #DAEBFF;
  font-family: 'Allerta', sans-serif;

}

.sideLt h2 {
  font-family: 'Allerta', sans-serif;
  color: #7ABBEA;
}


.sideRt {
  flex: 1;
  text-align: center;
  font-family: 'Bayon', sans-serif;
  color: aquamarine;
}

.objects {
  display: flex;
  justify-content: flex-start;
}

.rect1 {
  margin-left: 5px;
  width: 55px;
  height: 10px;
  background: rgb(12, 22, 31);
  background: linear-gradient(90deg, rgba(12, 22, 31, 1) 0%, rgba(0, 255, 56, 1) 100%);
  border-radius: 10px;

  animation-name: shapRect1;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;

}

@keyframes shapRect1 {
  0% {
    opacity: 0.1;
  }

  50% {
    opacity: 0.9;
  }

  100% {
    opacity: 0.1;
  }
}


.rect2 {
  margin-left: 5px;
  width: 30px;
  height: 10px;
  background-color: #00F0FF;
  border-radius: 10px;

  animation-name: shapRect2;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-delay: 1s;
  animation-iteration-count: 3s;
  animation-direction: alternate;
}


@keyframes shapRect2 {
  0% {
    opacity: 0.1;
  }

  50% {
    opacity: 0.9;
  }

  100% {
    opacity: 0.1;
  }
}


.rect3 {
  margin-left: 5px;
  width: 20px;
  height: 10px;
  background-color: #0085FF;
  border-radius: 10px;

  animation-name: shapRect3;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-delay: 3s;
  animation-iteration-count: 3s;
  animation-direction: alternate;
}

@keyframes shapRect3 {
  0% {
    opacity: 0.1;
  }

  50% {
    opacity: 0.9;
  }

  100% {
    opacity: 0.1;
  }
}


.rect4 {
  margin-left: 5px;
  width: 10px;
  height: 10px;
  background-color: rgb(255, 0, 81);
  border-radius: 10px;

  animation-name: shapRect4;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-delay: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}


@keyframes shapRect4 {
  0% {
    opacity: 0.1;
    background-color: rgb(255, 255, 255);
  }

  50% {
    opacity: 0.9;
    background-color: rgb(255, 128, 0);
  }

  100% {
    opacity: 0.1;
    background-color: rgb(255, 0, 81);
  }
}




/* StartApp Styles */

.Maintainer {
  right: 1;
  top: 0;
  float: left;
  width: 90%;
  margin-top: 40px;
  text-align: center;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  opacity: 0; /* Start with 0 opacity */
  animation: slowLoad 1s ease-in-out 0.5s forwards;
}

.Maintainer .M_left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.Maintainer .M_left .profileImage {
  display: flex;
  justify-content: center;
}

.Maintainer .M_left .profileImage .proimg {
  width: 250px;
  height: 250px;
  z-index: 0;
  border-radius: 50%;
  background: rgb(19,11,147);
  background: linear-gradient(108deg, rgba(19,11,147,1) 0%, rgba(9,9,121,1) 17%, rgba(0,138,255,1) 53%, rgba(0,146,255,1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;

}

.Maintainer .M_left .profileImage .proimg img {
  cursor: pointer;
  width: 240px;
  height: 240px;
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
  transition: ease-out 0.2s;
  z-index: 0;
}

.Maintainer .M_left .profileImage .proimg img:hover {
  filter: grayscale(1);
  width: 235px;
  height:235px;
}



.Maintainer .M_left .profileImage .proimg img:hover + .proimg {
  background-color: #463200;
}

.Maintainer .M_left .profileEmail {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 13px;
  padding: 25px;
}

.Maintainer .M_left .profileSocial {
  margin-top: 20px;
}

.Maintainer .M_left .profileSocial ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.Maintainer .M_left .profileSocial ul li {
  background-color: #172C4D;
  margin: 8px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  font-size: 20px;
  transition: 0.5s ease-out;
}

.Maintainer .M_left .profileSocial ul li:hover {
  margin-top: -2px;
  transform: rotate(360deg);
  color: #22c55e;
}

.Maintainer .M_right {
  flex: 1.5;
  display: flex;
  flex-direction: column;
}


.Maintainer .M_right .My_infos {
  flex: 1;
  text-align: left;
  padding-right: 50px;
}


.Maintainer .M_right .My_infos h1 {
  font-family: 'Bayon';
  font-size: 90px;
}


.Maintainer .M_right .My_infos h2 {
  font-family: 'Quicksand', sans-serif;
  font-size: 40px;
  color: #214277;
  transition: 0.3s ease-in-out;
}

.Maintainer .M_right .My_infos h2:hover {
  color: #22c55e;
}


.Maintainer .M_right .My_infos p {
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
  text-align: justify;
  font-weight: 600;
  width: 95%;
  /* color: #214277; */
}


.Maintainer .M_right .My_infosDetails {
  flex: 1;
  display: flex;
  font-family: 'Quicksand', sans-serif;
  justify-content: space-between;
  width: 95%;
  /* color: #172C4D; */
}


.Maintainer .M_right .My_infosDetails section {
  text-align: left;
  font-size: 13px;
  margin: 5px;
}

.Maintainer .M_right .My_infosDetails section h2 {
  font-weight: bold;
  color: #0071db;
}

.Maintainer .M_right .My_infosDetails section p {
  font-weight: 500;
  /* color: #214277; */
}


/* End of StartApp Styles */




/* About Styles */

.Maintainer .M_right .skills {
  width: 95%;
  text-align: left;
}

.Maintainer .M_right .skills h1 {
  font-family: 'Bayon';
  font-size: 30px;
}

.Maintainer .M_right .skills section {
  font-family: 'Quicksand', sans-serif;
  width: 150px;
  margin: 5px;
  padding: 5px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(0deg,
      rgb(8, 0, 40) 1%,
      rgb(56, 0, 177) 42%,
      rgb(0, 227, 132) 100%);
  cursor: pointer;
  transition: 0.1s ease-in-out;
}


.Maintainer .M_right .skills section:hover {
  margin-top: -0.2px;
  background-image: linear-gradient(0deg,
      rgb(0, 220, 161) 1%,
      rgb(0, 129, 126) 42%,
      rgb(0, 9, 60) 100%);
  border-bottom: 4px solid #00461a;
}

.Maintainer .M_right .skills .in_skills section p {
  font-weight: 600;
  color: white;
  font-size: 12px;

}


.Maintainer .M_right .skills .in_skills {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
}

.light {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 0;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  z-index: 200;
}

.light:hover {
  margin-top: 12px;
}

/* End of About Styles */

.projectMaintener {
  width: 90%;
  float: right;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projectMaintener .projectpanel {
  background-color: #00000013;
  width: 90%;
  height: 75vh;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.projectMaintener .projectpanel .prev {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projectMaintener .projectpanel .middle {
  flex: 8;
  border-radius: 50px;
  box-shadow: 2px 10px 24px -10px rgba(0, 0, 0, 0.57);
  -webkit-box-shadow: 2px 10px 24px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 2px 10px 24px -10px rgba(0, 0, 0, 0.57);
}

.projectMaintener .projectpanel .next {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projectMaintener .projectpanel .innholder {
  background-color: black;
  width: 45px;
  height: 45px;
  color: white;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  transition: ease-in-out 0.3s;
  cursor: pointer;
}

.projectMaintener .projectpanel .innholder:hover {
  background-color: #172C4D;
  color: #22c55e;
  border-radius: 200px;

  animation-name: examples;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes example {
  0% {
    margin-top: 10px;
  }

  25% {
    margin-top: -15px;
  }

  50% {
    margin-top: -10px;
  }

  100% {
    margin-top: 8px;
  }
}











.projectMaintener .projectpanel .middle .image {
  width: 100%;
  height: 100%;
  border-radius: 49px;
  margin: 0 auto;
}

.projectMaintener .projectpanel .middle .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 45px;
}

.projectMaintener .projectpanel .middle .infos {
  width: 40%;
  height: auto;
  background-color: #000000d7;
  border-radius: 15px;
  position: relative;
  margin-top: -10%;
  margin-left: 10%;
  color: white;
  font-size: 11px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-family: 'Quicksand', sans-serif;
}

.projectMaintener .projectpanel .middle .infos .btn_actions {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.projectMaintener .projectpanel .middle .infos .btn_actions p {
  font-size: 27px;
  cursor: pointer;
}

.projectMaintener .projectpanel .middle .infos button {
  background-color: #FFFFFF;
  margin: 5px;
  border-radius: 150px;
  color: black;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 800;
  transition: ease-in-out 0.2s;
}


.projectMaintener .projectpanel .middle .infos button:hover {
  background-color: #172C4D;
  color: #22c55e;
}

.chattapp {
  width: 80%px;
  height: 57vh;
  background-color: #172C4D;
  border-radius: 25px;
  margin-top: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}




.chattapp .msgside:hover {
  background-color: #12223d;
}

.chattapp .chatside {

  width: 100%;
  height: auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chattapp .chatside .aside {
  flex: 1;
  background-color: #0F1E34;
  padding: 10px;
  border-radius: 200px;
  display: flex;
  justify-content: flex-start;
  color: white;
}

.chattapp .chatside .aside input {
  background-color: transparent;
  font-family: 'Quicksand', sans-serif;
  font-size: 12px;
  transition: 0.3s ease-out;
  width: 100%;
  margin-left: 10px;
  transition: 0.2s ease-in-out;
  padding: 10px;
  border-radius: 200px;
}

.chattapp .chatside .aside input:focus {
  outline: none;
  background-color: #162b4c;
}

.chattapp .chatside .aside button {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.chattapp .chatside .bside {
  margin-left: 10px;
  width: 40px;
  height: 40px;
  background-color: #00C797;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 200px;
}

.chattapp .chatside .bside:hover {
  background-color: #00c35e;
}


.chattapp .msgside {
  width: 100%;
  height: 250px;
  background-color: #172C4D;
  transition: 0.1s ease-in-out;
  padding: 20px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: white;
}

.chattapp .msgside .rec {
  display: flex;
  flex: 1;
  background-color: transparent;
  display: flex;
  justify-content: flex-start;
}

.chattapp .msgside .send {
  display: flex;
  flex: 1;
  background-color: transparent;
  display: flex;
  justify-content: flex-end;
}




.chattapp .msgside .rec .leftmsg {
  padding: 10px;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.chattapp .msgside .rec .leftmsg .inside {
  background-color: #00C797;
  padding: 10px;
  width: 100%;
  border-radius: 30px 30px 0px 30px;
  font-size: 10px;

}

.chattapp .msgside .send .rightmsg {
  padding: 10px;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.chattapp .msgside .send .rightmsg .inside {
  margin-top: 50px;
  background-color: #0B1729;
  padding: 10px;
  width: 100%;
  border-radius: 30px 30px 30px 0px;
  font-size: 10px;
}

.socials {}

.socials button {
  margin: 5px;
  padding: 10px;
  border: #00c35e;
  transition: 0.3s ease-in-out;
  border: #00c35e 2px solid;
  border-radius: 260px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 14px;
}


.socials button:hover {
  border: #006b34 2px solid;
  color: #00461a;
}





@media screen and (max-width: 768px) {
  .container {
    width: 80%;
    height: 42%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    border: 5px solid;
    border-image: linear-gradient(45deg, #7B0034, #42000040, #42000000) 1;
  }

  .leftsidebar {
    display: none;
  }
}




/* Styles for screens up to 768 pixels wide (typical smartphones) */
@media screen and (max-width: 425px) {

  /* Your CSS rules for mobile devices go here */
  .container {
    width: 90%;
    height: 85%;
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    border: 5px solid;
    border-image: linear-gradient(45deg, #7B0034, #42000040, #42000000) 1;
  }

  .sideLt {
    padding: 5px;
    flex: 1;
  }

  .sideLt h2 {
    font-family: 'Allerta', sans-serif;
    color: #7aea98;
  }


  .Maintainer {
    float: right;
    width: 100%;
    text-align: center;
    padding: 10px;
    display: flex;
    margin-right: 0;
    justify-content: space-around;
    flex-direction: column;
  }


  .leftsidebar {
    display: none;
  }

  .Maintainer .M_left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }

  .Maintainer .M_left .profileImage {
    flex: 1;
    display: flex;
    justify-content: center;
  }

  .Maintainer .M_left .profileImage .proimg {
    width: 200px;
    height: 200px;
    z-index: 0;
  }

  .Maintainer .M_left .profileImage .proimg img {
    cursor: pointer;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    transition: ease-out 0.5s;
    z-index: 0;
    filter: grayscale(0.1);
  }


  .Maintainer .M_left .profileEmail {
    flex: 1;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 13px;
    padding: 25px;
  }

  .Maintainer .M_left .profileSocial {
    flex: 1;
    margin-top: -10px;
  }

  .Maintainer .M_left .profileSocial ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .Maintainer .M_left .profileSocial ul li {
    background-color: #172C4D;
    margin: 8px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    border-radius: 50%;
    font-size: 20px;
    transition: 0.5s ease-out;
  }

  .Maintainer .M_left .profileSocial ul li:hover {
    margin-top: -2px;
    transform: rotate(360deg);
    color: #22c55e;
  }

  .Maintainer .M_right {
    display: flex;
    flex-direction: column;
  }



  .Maintainer .M_right .My_infos {
    flex: 1;
    text-align: left;
    padding: 11px;
  }


  .Maintainer .M_right .My_infos h1 {
    font-family: 'Bayon';
    font-size: 90px;
  }


  .Maintainer .M_right .My_infos h2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    color: #214277;
    transition: 0.3s ease-in-out;
    margin-bottom: 30px;
  }

  .Maintainer .M_right .My_infos h2:hover {
    color: #22c55e;
  }


  .Maintainer .M_right .My_infos p {
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    text-align: justify;
    font-weight: 600;
    width: 95%;
    color: #214277;
  }


  .Maintainer .M_right .My_infosDetails {
    flex: 1;
    display: flex;
    font-family: 'Quicksand', sans-serif;
    justify-content: space-between;
    width: 95%;
    color: #172C4D;
  }


  .Maintainer .M_right .My_infosDetails section {
    text-align: left;
    margin: 5px;
  }

  .Maintainer .M_right .My_infosDetails section h2 {
    font-weight: bold;
    color: #0071db;
  }

  .Maintainer .M_right .My_infosDetails section p {
    font-weight: 500;
    color: #214277;
  }



  .cvdown {
    background-color: #00c35e;
    height: 30px;
    color: white;
    position: fixed;
    right: 0;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    cursor: pointer;
    bottom: 0;
    transition: 0.3s ease-in-out;
    border: #00a550 2px solid;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
  }

  .cvdown p {
    font-size: 9pt;
  }


  .Maintainer .M_right .My_infos {
    flex: 1;
    text-align: left;
    width: 100%;
  }


  .Maintainer .M_right .My_infos h1 {
    font-family: 'Bayon';
    font-size: 30px;
  }


  .Maintainer .M_right .My_infos p {
    width: 100%;
    font-size: 9px;
  }


  .Maintainer .M_right .My_infosDetails {
    display: flex;
    flex-direction: column;
    font-family: 'Quicksand', sans-serif;
    justify-content: space-between;
    width: 100%;
    height: auto;
    color: #172C4D;
    padding-left: 10px;
    margin-bottom: 60px;
    text-align: center;
  }

  .Maintainer .M_right .My_infosDetails section {
    text-align: left;
    margin-top: 20px;
    
  }
  
  .Maintainer .M_right .My_infosDetails section h2 {
    font-weight: bold;
    color: #0071db;
  }
  
  .Maintainer .M_right .My_infosDetails section p {
    color: #214277;
    font-size: 9px;
    font-weight: 600;
    width: 100%;
  }



  .smenu {
    background-color: #172C4D;
    width: 40px;
    height: 40px;
    color: white;
    position: absolute;
    left: 0;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }


  .smenushow {
    width: 100%;
    height: 100vh;
    background-color: #00141fa7;
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease-in-out 0.2s;
  }

  .menuBox {
    width: 85%;
    height: auto;
    background-color: #00141f;
    position: fixed;
    z-index: 101;
    border-radius: 10px;
    box-shadow: -20px 20px 60px #bebebe,
      20px -20px 60px #ffffff;
  }

  .menuBox .up {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    color: white;
  }

  .menuBox h1 {
    font-size: 12pt;
    color: #00a550;
    font-weight: 600;
  }


  .menuBox .sidebaricon li {
    width: 90%;
    padding: 10px;

  }

  .menuBox .sidebaricon li a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

  }

  .menuBox .sidebaricon li a p {
    margin-left: 10px;
    font-size: 11pt;
  }

  .light:hover {
    background-color: #1d3f77;
    border-radius: 50px;
  }



  /* About Styles */

.Maintainer .M_right .skills {
  width: 100%;
}

.Maintainer .M_right .skills .in_skills{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.Maintainer .M_right .skills h1 {
  font-family: 'Bayon';
  font-size: 30px;
  margin-left: 10px;
}

.Maintainer .M_right .skills section {
  font-family: 'Quicksand', sans-serif;
  width: 150px;
  margin: 5px;
  padding: 5px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(0deg,
      rgb(8, 0, 40) 1%,
      rgb(56, 0, 177) 42%,
      rgb(0, 227, 132) 100%);
  cursor: pointer;
  transition: 0.1s ease-in-out;
}


.Maintainer .M_right .skills section:hover {
  margin-top: -0.2px;
  background-image: linear-gradient(0deg,
      rgb(0, 220, 161) 1%,
      rgb(0, 129, 126) 42%,
      rgb(0, 9, 60) 100%);
  border-bottom: 4px solid #00461a;
}

.Maintainer .M_right .skills .in_skills section p {
  font-weight: 600;
  color: white;
}


.light {
  background-color: #172C4D;
  width: 40px;
  height: 40px;
  color: white;
  position: absolute;
  right: 0;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.light:hover {
  background-color: #1d3f77;
  border-radius: 50px;
}

/* End of About Styles */


  /* End of About Styles */
}




/* Apply dark mode styles */
.dark {
  background-color: #333;
  color: #fff;
}



/* Define the slow load animation */
@keyframes slowLoad {
  0% {
      opacity: 0;
      transform: translateY(-20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}